.example {
  background-color: $basic_grey;
  margin-top: 47px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    position: relative;
  }
}

.example__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-bottom: 230px;
    background-color: $basic_white;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: $basic_grey;
  }
}

.example__header {
  margin-top: 34px;
  margin-bottom: 33px;
  padding-top: 26px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-top: 20px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 72px;
    padding: 0 110px;
    padding-bottom: 70px;
    background-color: $basic_white;
  }
}

.example__description {
  margin-top: 13px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    margin-top: 5px;
    width: 439px;
    height: auto;
  }
}

.example__results-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.example__results-item {
  margin-top: 10px;
  position: relative;
}

.example__results-quantity {
  padding-top: 13px;
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: $basic_black;
  display: block;
  width: 124px;
  height: 56px;
  text-align: center;
  display: block;
  border: 1px solid $special_radio-grey;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    right: 0;
    left: auto;
  }
}

.example__results {
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  text-align: center;
  background-color: $basic_grey;
  position: absolute;
  top: 48px;
  left: 20px;
  order: 3;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-right: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-top: 25px;
  }
}

.example__cost {
  margin-top: 35px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    width: 174px;
    vertical-align: top;
    margin-left: 125px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    display: block;
    width: 300px;
  }
}
