.example {
  background-color: $basic_grey;
  margin-top: 45px;
  padding-bottom: 35px;
}

.example__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.example__header {
  padding-top: 27px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $desktop-width) {
    max-width: 436px;
    height: auto;
  }
}

.example__results {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  font-size: 12px;
  line-height: 12px;
  min-width: 124px;
  height: auto;
  display: inline-block;
  text-align: center;
}

.example__results-quantity {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: $basic_black;
  display: block;
  width: 124px;
  height: 56px;
  text-align: center;
}

.example__cost {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__image {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  max-width: 100%;
}

.example__toggle {
  margin: 0;
  margin-top: 40px;
}
