.intro {
  font-family: "Oswald Regular", "Arial", sans-serif;
  background: url("../../../img/index-can-mobile.png") no-repeat 50% 80%,
    url("../../../img/Rectangle_18.png") no-repeat 50% 0,
    url("../../../img/index-background-desktop-2.jpg") no-repeat 50% 0;
  color: $basic_white;
  min-width: 320px;
  min-height: auto;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../img/index-can-mobile2x.png"), url("../../../img/Rectangle_18_2x.png"),
      url("../../../img/index-background-desktop-2_2x.jpg");
    background-size: 280px 270px, 320px auto, 320px auto;
  }

  @media (min-width: $tablet-width) {
    background: url("../../../img/index-can-tablet.jpg") no-repeat 49% 116%;
    height: 805px;

    @media (min-width: 2dppx) {
      background-image: url(../../../img/index-can-tablet@2x.jpg);
      background-size: auto 805px;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/index-can-desktop.png") no-repeat 63% 70%,
      url("../../../img/Rectangle_17.png") no-repeat 100% 0,
      url("../../../img/index-background-desktop-1.jpg") no-repeat 100% 0;
    position: relative;
    min-height: 694px;
  }
}

.intro__wrapper {
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    padding: 0 117px;
    color: $basic_black;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 110px;
    padding-top: 195px;
    margin-top: 0;
    margin-left: 80px;
  }
}

.intro__header {
  margin: 0 auto;
  font-size: 36px;
  width: 280px;
  line-height: 36px;
  font-weight: normal;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.intro__slogan {
  margin-top: 26px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__button {
  margin: 302px 20px 0 20px;
  padding: 11px 0;
  width: 280px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_white;
  background-color: $basic_green;
  text-align: center;
  display: block;

  &:hover {
    background-color: $basic_green_action;
  }

  &:active {
    background: $basic_green_action;
    color: $basic_white_action;
  }

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-left: 112px;
    padding: 18px 26px 0;
    font-size: 20px;
    line-height: 20px;
    width: 192px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 187px;
  }
}
