.intro {
  font-family: "Oswald Regular", "Arial", sans-serif;
  background: url("../../../img/index-can-mobile.png") no-repeat 50% 80%,
    url("../../../img/Rectangle_18.png") no-repeat 100% 0,
    url("../../../img/index-background-desktop-2.jpg") no-repeat 100% 0;
  color: $basic_white;
  height: 480px;
  position: relative;

  @media (min-width: $tablet-width) {
    background: url("../../../img/index-can-tablet.jpg") no-repeat 50% 115%;
    min-height: 805px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/index-can-desktop.png") no-repeat 63% 70%,
      url("../../../img/Rectangle_17.png") no-repeat 100% 0,
      url("../../../img/index-background-desktop-1.jpg") no-repeat 100% 0;
    position: relative;
    min-height: 694px;
  }
}

.intro__wrapper {
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    padding: 0 117px;
    color: $basic_black;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 110px;
    padding-top: 195px;
    margin-top: 0;
    margin-left: 80px;
  }
}

.intro__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding-top: 27px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 414px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.intro__slogan {
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__button {
  padding: 10px 0;
  width: 280px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_white;
  background-color: $basic_green;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;

  @media (min-width: $tablet-width) {
    position: static;
    margin-top: 49px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}
