.principle {
  margin-top: 5px;
}

.principle__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.principle__header {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
}

.principle__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.principle__item {
  font-weight: normal;
  margin-top: 25px;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    min-height: 280px;
  }
}

.principle__description {
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    min-width: 245;
  }
}
