.programms {
  margin-top: 10px;
}

.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.programms__item {
  background-color: $basic_grey;
  margin: 20px;
  margin-top: 5px;
  padding: 20px;
  min-width: 240px;
  height: 226px;
}

.programms__header {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $basic_black;
}

.programms__description {
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $special_dark-grey;
  text-transform: none;
  border-bottom: 1px solid $border-grey;
}

.programms__link {
  padding-top: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $basic_black;
  text-transform: uppercase;
  text-decoration: none;
}
