.programms {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programms__item {
  background-color: $basic_grey;
  margin: 20px 20px;
  margin-top: 0;
  padding-top: 7px;
  padding-bottom: 20px;
  min-width: 240px;
  min-height: 226px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 20px 30px;
    padding-top: 42px;
    min-height: 292px;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 466px;
    min-height: 374px;
    padding: 0 52px;
    margin-top: 75px;
    margin-left: 110px;
    margin-right: 30px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-left: 30px;
      margin-right: 110px;
    }
  }
}

.programms__header {
  margin-top: 23px;
  margin-bottom: 25px;
  margin-left: 20px;
  padding-left: 71px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $basic_black;
  text-transform: uppercase;

  &--slim {
    &::before {
      content: "";
      background-image: url("../../../img/cat_slim.svg");
      background-repeat: no-repeat;
      width: 52px;
      height: 53px;
      position: absolute;
      top: 21px;
      left: 22px;

      @media (min-width: $tablet-width) {
        background-image: url("../../../img/cat_slim_tablet.svg");
        width: 200px;
        height: 211px;
        right: 62px;
        left: auto;
        top: 81px;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      background-image: url("../../../img/cat_pro.svg");
      background-repeat: no-repeat;
      width: 67px;
      height: 50px;
      position: absolute;
      top: 24px;
      left: 13px;

      @media (min-width: $tablet-width) {
        background-image: url("../../../img/cat_pro_tablet.svg");
        width: 268px;
        height: 202px;
        right: 28px;
        left: auto;
        top: 91px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 35px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-top: 75px;
  }
}

.programms__description {
  padding-top: 4px;
  padding-bottom: 22px;
  margin: 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $special_dark-grey;
  text-transform: none;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 52px;
    margin: 25px 0;
    width: 380px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    margin-top: 75px;
  }
}

.programms__link {
  margin-right: 0;
  margin-left: 19px;
  margin-top: 19px;
  padding-bottom: 2px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $basic_black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;

  &::after {
    content: "";
    background-image: url();
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-left: 32px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 8px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}

.programms__arrow {
  margin-left: 11px;
  margin-bottom: 2px;

  &--pro {
    margin-left: 13px;
    margin-bottom: 1px;
  }

  &:hover {
    transform: scaleX(1.44);
  }

  &:active {
    opacity: 0.3;
  }
}

// .programms__arrow-body:hover {
//   transform: scaleX(1.44);
// }

.programms__tablet-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
