.slider {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    height: 407px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 395px;
    height: 462px;
    background-color: $light_grey;
  }
}

.slider__image {
  margin: 0;
  min-width: 314px;
  height: auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
    top: -223px;
    left: 30px;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 656px;
    top: -194px;
    bottom: auto;
    left: auto;
    right: 70px;
  }
}

.slider__scale-bar {
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    width: 569px;
    position: absolute;
    top: auto;
    bottom: 47px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (min-width: $desktop-width) {
    top: auto;
    bottom: 70px;
    left: auto;
    right: auto;
  }
}

.slider__bar {
  margin: auto 5px;
  content: "";
  width: 84px;
  height: 14px;
  background-color: $basic_white;
  border: 1px solid $special_radio_grey;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__scale-toggle {
  content: "";
  width: 35px;
  height: 6px;
  top: 3px;
  left: 5%;
  background-color: $basic_green;
  border-radius: 6px;
  position: absolute;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__input-range {
  display: none;
}

.slider__button {
  padding: 0;
  margin: auto 12px;
  margin-top: 4px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--then {
    margin-left: 0;
  }

  &--now {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline dotted $special_radio_grey 1px;
    text-underline-offset: 6px;

    &:hover {
      text-decoration: underline solid $special_radio_grey 1px;
      outline: none;
    }

    &:active {
      text-decoration: none;
      outline: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
    font-size: 20px;
    line-height: 30px;

    &--then {
      background-color: $basic_grey;
    }

    &--now {
      background-color: $light_grey;
    }
  }
}
