.slider {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    height: 425px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 70px;
    left: auto;
    top: 0;
  }
}

.slider__image {
  margin: 0 auto;
  padding: 0;
  width: 312px;
  height: auto;

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.slider__scale-bar {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.slider__bar {
  
  content: "";
  width: 84px;
  height: 14px;
  background-color: $basic_white;
  border: 1px solid $special_radio_grey;
  border-radius: 6px;
  box-sizing: border-box;
}

// .slider__toggles {
//   margin: 0 auto;
//   margin-top: 20px;
//   cursor: pointer;

//   @media (min-width: $tablet-width) {
//     margin-top: 10px;
//   }
// }

.slider__toggle {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
