.copyright {
  padding: 0 20px 0 19px;
  max-width: 100%;
  height: 78px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    padding-left: 0;
    padding-right: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
    // margin-left: 330px;
  }
}

.copyright__link {
  padding-top: 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $special_dark-grey;
  display: block;
  text-decoration: none;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
  }
}

.copyright__logo {
  position: absolute;
  width: 27px;
  height: 34px;
  top: 22px;
  right: 0;
  left: auto;
  color: $special_grey;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    top: 24px;
  }
}

.copyright__link:hover > .copyright__logo {
  color: $basic_green;
}
