.location {
  margin-top: 20px;
}

.location__invitation {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.location__address {
  line-height: 20px;
}
