.location {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 72px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    min-height: 131px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 76px;
    padding-right: 89px;
    width: 405px;
    height: 151px;
  }
}

.location__invitation {
  margin-top: 18px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-block;
  width: 135px;
  height: 64px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    font-size: 20px;
    line-height: 25px;
  }
}

.location__welcome {
  line-height: 28px;
}

.location__address {
  margin-top: 23px;
  margin-left: 1px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__city {

  @media (min-width: $tablet-width) {
    line-height: 55px;
  }
}
