.main-nav {
  color: $basic_black;
  height: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 65px;
  background-color: $basic_white;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 20px;
  width: 24px;
  height: 2px;
  background-color: $basic_black;
  box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 20px;
    width: 25px;
    height: 2px;
    background-color: $basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }
}

.main-nav__item {
  padding-left: 15px;
  min-height: 66px;
  max-width: 100%;
  border-bottom: 1px solid $border-grey;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    padding-right: 20px;
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-right: 22px;
    border-bottom: none;
    min-height: 100px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;

    &:first-child {
      border-top: none;
      padding-left: 10px;
      padding-right: 19px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 8px;
    border-bottom: none;
    min-height: 170px;

    &:first-child {
      padding-right: 11px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }
}

.main-nav__link {
  color: $basic_black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: block;
    height: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    height: 38px;
  }
}

.main-nav__link--active {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic_green;
  }

  @media (min-width: $desktop-width) {
  }
}
.main-nav__link--index {
  @media (min-width: $desktop-width) {
    color: $basic_white;
  }
}
