.page-footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-footer__wrapper {
  background-color: $basic_grey;
  margin: 0 auto;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }
}

.page-footer__location {
  background-color: $basic_grey;
  padding: 0 20px;
  margin: 0;

  &--index {
    background-color: $basic_white;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    position: absolute;
    z-index: 2;
    left: 110px;
    top: 130px;
  }
}

.page-footer__map-wrapper {
  width: 100%;
  background: url("../../img/map_mobile.jpg") no-repeat 50% 0;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/map_mobile@2x.jpg");
    background-size: auto 362px;
  }

  &::before {
    content: "";
    width: 57px;
    height: 53px;
    background: url("../../img/map_pin.png") no-repeat;
    background-size: 57px 53px;
    top: 140px;
    left: 134px;
    position: absolute;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map_pin@2x.png");
      background-size: 57px 53px;
    }

    @media (min-width: $tablet-width) {
      width: 113px;
      height: 106px;
      background-size: 113px 106px;
      top: 147px;
      left: 333px;

      @media (min-resolution: 2dppx) {
        background-size: 113px 106px;
      }
    }
  }
}

.page-footer__map {
  width: 100%;
  height: 362px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-top: 40px;
  margin-bottom: 28px;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    // margin-left: 30px;
    margin-top: 56px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
