.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  height: 100%;
  padding: 0;
  margin: 0;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .page__body {
    min-width: 100%;
  }
}
