.page-header {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
  }

  @media (min-width: $desktop-width) {
    font-family: "Oswald Regular", "Arial", sans-serif;
    line-height: 30px;
    padding: 0 110px;
    min-width: 1220px;
    position: absolute;
    right: 0;
    left: auto;
    top: 32px;
    z-index: 2;
  }
}

.page-header__wrapper {
  position: relative;
  max-width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 100px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-header__logo {
  text-decoration: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
    height: 59px;
    position: absolute;
  }
}

.page-header__title-logo {
  margin-left: 57px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
