.page-footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-footer__wrapper {
  background-color: $basic_grey;
  margin: 0 auto;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }
}

.page-footer__location {
  background-color: $basic_grey;
  padding: 0 20px;
  margin: 0;

  &--index {
    background-color: $basic_white;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    left: 110px;
    top: 92px;
  }
}

.page-footer__map-wrapper {
  width: 100%;
  background: url("../../img/map_mobile.jpg") no-repeat 50% 0;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/map_mobile@2x.jpg");
    background-size: auto 362px;
  }

  @media (min-width: $tablet-width) {
    background: url("../../img/map_tablet.jpg") no-repeat 50% 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map_tablet@2x.jpg");
      background-size: auto 768px;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/map_desktop.jpg") no-repeat 50% 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map_desktop@2x.jpg");
      background-size: auto 1440px;
    }
  }
}

.page-footer__map {
  width: 100%;
  height: 362px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-footer__logo {
  margin-top: 35px;
  margin-bottom: 28px;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    // padding-left: 110px;
  }
}
