.social {
  margin-top: 20px;
  height: 63px;
}

.social__list {
  min-height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 80px;
  }
}

.social__link {
  text-decoration: none;
}
