.social {
  margin-top: 20px;
  height: 63px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-left: 30px;
    padding: 0;
  }
}

.social__list {
  min-height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    min-width: 134px;
    border: none;
    justify-content: space-between;
    // margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 260px;
  }
}

.social__item {
  padding-top: 3px;

  &:first-child {
    padding-top: 2px;
    margin-right: 0;
    margin-left: 56px;
  }

  &:last-child {
    padding-top: 2px;
    margin-left: 0;
    margin-right: 59px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}

.social__link {
  text-decoration: none;
  color: $special_grey;

  &:hover {
    color: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  &--vkontakte {
    width: 23px;
    height: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
      margin-left: 6px;
    }
  }

  &--facebook {
    width: 22px;
    height: 22px;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;
      margin-right: 5px;
    }
  }
}
