.additional-products {
  padding-top: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-products__list {
  list-style: none;
  padding: 0;
}

.additional-products__item {
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__link {
  font-size: 16px;
  line-height: 16px;
  color: $special_darkest-grey;
  text-transform: uppercase;
  text-decoration: none;
}

.additional-products__volume,
.additional-products__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_darkest-grey;
  display: inline-block;
}

.additional-products__button {
  font-size: 16px;
  line-height: 16px;
  color: $basic_white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic_green;
  display: block;
  min-width: 100%;

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}

.additional-products__bonus {
  margin: 0;
  min-width: 100%;
  min-height: 289px;
  background-color: $basic_green;
  background-image: url("../../../img/gift-photo-mobile-1.jpg");
  background-repeat: no-repeat;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../../../img/gift-photo-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 289px;
    background-image: url("../../../img/gift-photo-desktop.jpg");
  }
}
