.additional-products {
  padding-top: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.additional-products__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-products__list {
  list-style: none;
  padding: 0;
}

.additional-products__item {
  padding: 10px 0;
}

.additional-products__link {
  font-size: 16px;
  line-height: 16px;
  color: $special_darkest-grey;
  text-transform: uppercase;
  text-decoration: none;
}

.additional-products__volume,
.additional-products__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_darkest-grey;
}

.additional-products__button {
  font-size: 16px;
  line-height: 16px;
  color: $basic_white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic_green;
}

.additional-products__bonus {
  width: 280px;
  height: 289px;
  background: $basic_green url(../../../img/gift-photo-mobile-1.jpg) no-repeat;
  color: $basic_white;
}
