.additional-products {
  padding-top: 10px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 32px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__header {
  margin: 20px;
  margin-left: 19px;
  margin-top: 21px;
  margin-right: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    top: 15px;
    right: 0;
    left: auto;
    border: 1px solid $basic_green;
    background-color: $basic_green;
  }

  @media (min-width: $tablet-width) {
    margin-top: 7px;
    margin-left: 0;
    padding-left: 67px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 23px;
      min-width: 325px;
    }

    &::before {
      position: absolute;
      content: "";
      min-width: 29px;
      top: 23px;
      right: auto;
      left: 0;
      border: 1px solid $basic_green;
      background-color: $basic_green;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 110px;

    &::after {
      min-width: 955px;
    }

    &::before {
      min-width: 67px;
    }
  }
}

.additional-products__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 50px;
  }
}

.additional-products__item {
  padding: 12px 0;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 36px 0 38px;
    min-height: 139px;
    border: 1px solid $border-grey;
    border-bottom: none;
    box-sizing: border-box;
    position: relative;

    &:last-child {
      border-bottom: 1px solid $border-grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    min-width: 895px;
    min-height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-top: 1px solid $border-grey;
  }
}

.additional-products__link {
  padding-left: 2px;
  font-size: 16px;
  line-height: 16px;
  color: $special_darkest-grey;
  text-transform: uppercase;
  text-decoration: none;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    position: absolute;
    top: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    min-width: 290px;
    position: static;
  }
}

.additional-products__parameters {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 2px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    min-width: 287px;
    justify-content: space-between;
  }
}

.additional-products__volume,
.additional-products__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_darkest-grey;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__price {
  @media (min-width: $tablet-width) {
    min-width: 92px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    min-width: 44px;
    text-align: left;
  }
}

.additional-products__button {
  margin-bottom: 6px;
  padding-top: 12px;
  min-height: 28px;
  min-width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: $basic_white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: $basic_green;
  display: block;

  &:hover {
    background-color: $basic_green_action;
  }

  &:active {
    background: $basic_green_action;
    color: $basic_white_action;
  }

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    margin-top: 6px;
    min-height: 27px;
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    min-width: 244px;
    height: 29px;
  }
}

.additional-products__bonus {
  margin: 0;
  min-width: 100%;
  min-height: 289px;
  background-color: $basic_green;
  background-image: url("../../../img/gift-photo-mobile-1.jpg");
  background-repeat: no-repeat;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    margin-right: 4px;
    min-height: 200px;
    background-image: url("../../../img/gift-photo-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    min-width: 245px;
    min-height: 289px;
    background-image: url("../../../img/gift-photo-desktop.jpg");
  }
}
