.more-products {
  padding-top: 18px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 37px;
  }
}

.more-products__subtitle {
  margin-top: 39px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_almost-black;

  &::before {
    position: absolute;
    content: "";
    top: 19px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: $plus-grey;
  }

  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: 125px;
    width: 30px;
    height: 2px;
    transform: rotate(90deg);
    background-color: $plus-grey;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 70px;
    width: 150px;
    font-size: 20px;
    line-height: 22px;

    &::before {
      top: 11px;
      left: 130px;
      width: 60px;
    }

    &::after {
      top: 10px;
      left: 132px;
      width: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 11px;
      left: 91px;
    }

    &::after {
      top: 9px;
      left: 92px;
    }
  }
}

.more-products__text {
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 24px;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
  }
}

.more-products__button {
  padding-top: 10px;
  min-height: 30px;
  min-width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey;
  background-color: $basic_grey;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: $special_button_hover_grey;
  }

  &:active {
    color: $special_dark-grey_action;
  }

  @media (min-width: $tablet-width) {
    margin-top: 87px;
    min-width: 249px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}
