.page-main__header {
  margin-top: 26px;
  margin-bottom: 40px;
  padding: 0 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
