.page-main__header {
  margin-top: 28px;
  margin-bottom: 40px;
  padding: 0 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    font-size: 60px;
    line-height: 60 px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
    padding: 0 110px;
  }
}
