/*Colors*/

$basic_black: #000000;
$basic_green: #68b738;
$basic_grey: #f2f2f2;
$light_grey: #eaeaea;
$special_grey: #666666;
$special_dark-grey: #444444;
$special_darkest-grey: #222222;
$basic_white: #ffffff;
$special_almost-black: #111111;
$border-grey: #e6e6e6;
$special_radio_grey-hover: #bababa;
$special_radio_grey: #cdcdcd;

/*Viewports*/

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
