/*Colors*/

$basic_black: #000000;
$basic_black_action: rgba(0, 0, 0, 0.3);
$basic_green: #68b738;
$basic_green_action: #5eaa2f;
$basic_grey: #f2f2f2;
$light_grey: #eaeaea;
$special_grey: #666666;
$special_button_hover_grey: #ebebeb;
$special_dark-grey: #444444;
$special_dark-grey_action: rgba(68, 68, 68, 0.3);
$special_darkest-grey: #222222;
$basic_white: #ffffff;
$basic_white_action: rgba(255, 255, 255, 0.3);
$special_almost-black: #111111;
$border-grey: #e6e6e6;
$plus-grey: #d3d3d3;
$special_radio_grey-hover: #bababa;
$special_radio_grey: #cdcdcd;

/*Viewports*/

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
