.additionally__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.additionally__header {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
}

.additionally__label {
  text-transform: uppercase;
}

.additionally__send-button {
  background-color: $basic_green;
  color: $basic_white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.additionally__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
