.additionally {

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }
}

.additionally__header {
  margin-left: 20px;
  margin-bottom: 39px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 135px;
    top: 15px;
    right: 0;
    left: auto;
    border: 1px solid $basic_green;
    background-color: $basic_green;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 65px;
    margin-bottom: 62px;
    padding-left: 70px;
    font-size: 36px;
    line-height: 36px;

    &:after {
      top: 22px;
      width: 445px;
    }

    &:before {
      position: absolute;
      content: "";
      width: 29px;
      top: 22px;
      right: auto;
      left: 0;
      border: 1px solid $basic_green;
      background-color: $basic_green;
    }
  }
}

.additionally__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    padding: 0 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additionally__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    &:nth-child(n) {
      margin-left: 0;
      margin-right: 30px;
      margin-bottom: 41px;
      min-width: 284px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.additionally__item .additionally__label {
  margin-left: 46px;
  text-transform: uppercase;
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.additionally__checkbox + .additionally__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid $special_radio_grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
  }
}

.additionally__checkbox:checked + .additionally__label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -40px;
  width: 30px;
  height: 30px;
  background-image: url("../../../img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: 7px;
    left: -49px;
  }
}

.additionally__send-button {
  margin: 0 auto;
  padding: 10px 0;
  min-width: 280px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: $basic_white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: $basic_green;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    padding: 16px 0;
    display: inline-block;
    min-width: 282px;
    font-size: 20px;
  }
}

.additionally__legend {
  margin-top: 23px;
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-left: 58px;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
  }
}
