.comment__header {
  margin-top: 14px;
  margin-bottom: 30px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 155px;
    top: 17px;
    right: 0;
    left: auto;
    border: 1px solid $basic_green;
    background-color: $basic_green;
  }

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    padding-left: 70px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 23px;
      min-width: 476px;
    }

    &::before {
      position: absolute;
      content: "";
      min-width: 29px;
      top: 23px;
      right: auto;
      left: 0;
      border: 1px solid $basic_green;
      background-color: $basic_green;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;

    &::after {
      top: 24px;
      min-width: 1105px;
    }

    &::before {
      top: 24px;
      min-width: 69px;
    }
  }
}

.comment__wrapper {
  padding: 0 20px;
  max-width: 100%;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 0 67px 0 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.comment__textarea {
  margin-top: 10px;
  padding: 0;
  padding-left: 14px;
  padding-top: 7px;
  text-transform: uppercase;
  min-width: 265px;
  min-height: 143px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  flex: 1;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    padding-top: 9px;
    padding-left: 16px;
    min-height: 162px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 17px;
  }
}
