.main-form__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-left: 39px;
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 110px;
  }
}

.main-form__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-top: 28px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.main-form__intro {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 1px;
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
  }
}

.main-form__tablet-br {
  @media (min-width: $tablet-width) {
    display: inline;
  }
}
