.page-main {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0 110px;
  }
}

.page-main__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.page-main__intro {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
