@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/global.scss";

/*page-header*/
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";

/*page-footer*/
@import "blocks/page-footer.scss";
@import "blocks/location.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";

/*Для index.html*/
@import "blocks/index/page-main.scss";
@import "blocks/index/intro.scss";
@import "blocks/index/programms.scss";
@import "blocks/index/principle.scss";
@import "blocks/index/example.scss";
@import "blocks/index/slider.scss";
@import "blocks/index/input-range.scss";

/*Для form.html*/
@import "blocks/form/page-main.scss";
@import "blocks/form/main-form.scss";
@import "blocks/form/cat-data.scss";
@import "blocks/form/programms-list.scss";
@import "blocks/form/contact.scss";
@import "blocks/form/comment.scss";
@import "blocks/form/additionally.scss";

/*Для catalog.html*/
@import "blocks/catalog/page-main.scss";
@import "blocks/catalog/main-products.scss";
@import "blocks/catalog/product.scss";
@import "blocks/catalog/more-products.scss";
@import "blocks/catalog/additional-products.scss";
@import "blocks/catalog/bonus.scss";
